.chart-bar{
-fx-background-radius: 5px 5px 0 0;
}
.chart-plot-background{
-fx-background-color: transparent;
}
.progress-bar {
    -fx-accent: #8100CC;
    -fx-background-color: #F6F6F6;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-pref-height: 20px;
    -fx-background-insets: 0;
    -fx-padding:0;
    -fx-border-color: transparent;
}
.image-view-rounded {
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
}
.overflow-img{
    -fx-clipping: true;
}
.smallProgressbar{
    -fx-pref-height: 12;
     -fx-accent: #81CC00;
    -fx-background-color: #F6F6F6;
}
.smallestProgressbar{
-fx-pref-height: 11;
 -fx-accent: #81CC00;
    -fx-background-color: #F6F6F6;
}

.small-category {
    -fx-background-color: white;
}

.explore_roadmapOrAddList{
    -fx-background-color: white;
}

.continueCourse{
    -fx-background-color: white;
}

.scroll-pane {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}


.scroll-pane:focused {
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.smallProgressbar1{
    -fx-pref-height: 12;
     -fx-accent: #8100CC;
    -fx-background-color: #F6F6F6;
}

.text-area {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-inner-shadow: none;
    -fx-text-fill: #8100cc;
}

.navT{
    -fx-background-color: white;
}

.scroll-panej > .viewport {
   -fx-background-color: transparent;
}

.scroll-panej{
   -fx-background-color: transparent;
}



