
.slider .track {
    -fx-background-color: #F6E6FF;
    -fx-background-radius: 5px;
    -fx-pref-height: 3px;
}

.slider .thumb {
    -fx-background-color: #8100cc;
    -fx-background-radius: 50%;
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
}

.slider .tick-mark {
    -fx-stroke: #8100cc;
}

.slider .minor-tick-mark {
    -fx-stroke: #b366ff;
}

.slider .axis {
    -fx-text-fill: #8100cc;
}



.text-area {
    -fx-border-color: #c4c4c4;
    -fx-background-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-area:focused {
    -fx-background-color: #ffffff;
}

.text-area .content {
    -fx-background-color: #ffffff;
}

.context-menu {
    -fx-background-color: rgba(0, 0, 0, 0.85);
    -fx-background-radius: 6;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.6), 8, 0, 0, 2);
    -fx-padding: 4 0 4 0;
}

.context-menu .menu-item {
    -fx-text-fill: white;
    -fx-padding: 8 16 8 16;
    -fx-font-size: 14px;
}
.context-menu .menu .label,
.context-menu .menu-item .label {
    -fx-text-fill: white;
}

.context-menu .menu-item:armed {
    -fx-background-color: #444444;
}

.context-menu .radio-menu-item .label,
.context-menu .check-menu-item .label {
    -fx-text-fill: white;
}

.context-menu .menu-item:focused {
    -fx-background-color: #555555;
}
