

.tab-pane {
    -fx-background-color: white;
}

.tab-content-area {
    -fx-background-color: white;
}

.tab {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-border-radius: 0;
    -fx-font-size: 16px;
}

.tab:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #8100cc;
}

.tab:focus-visible {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

.tab-header-area {
    -fx-background-color: transparent;
}

.scroll-bar:vertical {
    -fx-pref-width: 8px;
}