

.tab-pane {
    -fx-background-color: white;
}

.tab-content-area {
    -fx-background-color: white;
}

.tab {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-radius: 0;
    -fx-font-family: 'NotoSansThai';
    -fx-font-size: 14px;
}

.tab:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #8100cc;
}

.tab:focus-visible {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent;
}

.tab-header-area {
    -fx-background-color: transparent;
}
