.text-field {
    -fx-border-color: #c4c4c4;
    -fx-border-width: 1px;
    -fx-border-radius: 27px;
    -fx-background-radius: 27px;
    -fx-background-color: #ffffff;
}

.text-field:focused {
    -fx-border-color: #0675DE;
    -fx-background-color: #ffffff;
}
